doctype html
html(ng-app="simpleApp")
  head
    title= title
    script(src="/javascripts/polyfills.js")
  body
    block content
    script(src="/javascripts/ng1.js")
    script(src="/javascripts/ng2.js")


